<?xml version="1.0"?>
<config>
    <tabs>
        <cws>
            <label>MageBees</label>
            <sort_order>100</sort_order>
        </cws>
    </tabs>
    <sections>
        <importcategory translate="label">
            <class>separator-top</class>
            <label>Import Export Categories</label>
            <tab>cws</tab>
            <frontend_type>text</frontend_type>
            <sort_order>40</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <general translate="label">
                    <label>General</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>100</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <sku translate="label">
                            <label>Export Product Sku</label>
							<comment>Select Yes for export the product sku in export csv File.</comment>
							<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </sku>
					</fields>
                </general>
            </groups>
        </importcategory>
    </sections>
</config>
